body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url("1.jpg");
}

header {
  background-color: #0066cc;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

main {
  padding: 50px;
}

section {
  margin-bottom: 50px;
}

section h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}
